// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "B1-3588-jd4-main.dtsi"
// #include "B1-3588-jd4-main-EDPtoVGA_LT8711V.dtsi"

/ {
	model = "Firefly B1-N10";
	compatible = "rockchip,aio-3588jd4", "rockchip,rk3588";

	/delete-node/ es8388_sound;


	ds18b20_1 {
		// Front sersonr
		compatible = "firefly,ds1820";
		status = "okay";
		ds1820-dq = <&gpio4 RK_PB2 GPIO_ACTIVE_LOW>; //GPIO4_B2 TEMP_DET_1
		ds18b20-id = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&ds18b20_dp_1_pin>;
	};

	ds18b20_2 {
		compatible = "firefly,ds1820";
		ds1820-dq = <&gpio4 RK_PB3 GPIO_ACTIVE_LOW>; //GPIO4_B3 TEMP_DET_2
		ds18b20-id = <2>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&ds18b20_dp_2_pin>;
	};


	leds {
		compatible = "gpio-leds";
		status = "okay";
		/delete-node/ user;

		// BUZZER_CTL {
		// 	label = "BUZZER_CTL";
		// 	gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;	//GPIO0_D5
		// 	default-state = "on";
		// 	retain-state-shutdown;
		// };

		PW_OK {
			label = "PW_OK";
			gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;	//GPIO0_C7
			default-state = "on";
			retain-state-shutdown;
		};

		MCU_RESET {
			label = "MCU_RESET";
			gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>;	//GPIO4_C6
			default-state = "off";
			retain-state-shutdown;
		};

		MCU_BOOT {
			label = "MCU_LOADER";
			gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;	//GPIO4_C1
			default-state = "on";
			retain-state-shutdown;
		};

		USB20_HUB_EN {
			label = "USB20_HUB_EN";
			gpios = <&gpio1 RK_PC7 GPIO_ACTIVE_HIGH>;	//GPIO1_C7
			default-state = "on";
			retain-state-shutdown;
		};

		USB30_PHY_EN {
			label = "USB30_PHY_EN";
			gpios = <&gpio1 RK_PD4 GPIO_ACTIVE_HIGH>;	//GPIO1_D4
			default-state = "on";
			retain-state-shutdown;
		};

		VCC5V0_HOST0_EN {
			label = "VCC5V0_HOST0_EN";
			gpios = <&gpio1 RK_PC5 GPIO_ACTIVE_HIGH>;	//GPIO1_C5
			default-state = "on";
			retain-state-shutdown;
		};

		// VCC5V0_HOST1_EN {
		// 	label = "VCC5V0_HOST1_EN";
		// 	gpios = <&gpio1 RK_PC3 GPIO_ACTIVE_HIGH>;	//GPIO1_C3
		// 	default-state = "on";
		// 	retain-state-shutdown;
		// };

		UART_5V_EN {
			label = "UART_5V_EN";
			gpios = <&gpio1 RK_PD7 GPIO_ACTIVE_HIGH>;	//GPIO1_D7
			default-state = "on";
			retain-state-shutdown;
		};


		BMC_WORK_LED_B {
			label = "BMC_WORK_LED_B";
			gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;	//GPIO1_C2
			default-state = "on";
			retain-state-shutdown;
			pinctrl-names = "default";
			pinctrl-0 = <&BMC_WORK_LED_B_GPIO>;
		};

		BMC_WORK_LED_R {
			label = "BMC_WORK_LED_R";
			gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;	//GPIO3_A6
			default-state = "off";
			retain-state-shutdown;
		};


		BMC_WORK_LED_G {
			label = "BMC_WORK_LED_G";
			gpios = <&gpio1 RK_PA5 GPIO_ACTIVE_HIGH>;	//GPIO1_A5
			default-state = "off";
			retain-state-shutdown;
		};


		VGA_PWR_EN {
			label = "VGA_PWR_EN";
			gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;	//GPIO0_D3
			default-state = "on";
			retain-state-shutdown;
		};

		UID_LED {
			label = "UID_LED";
			gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;	//GPIO1_D5
			default-state = "on";
			retain-state-shutdown;
		};


		SATA_LED {
			label = "SATA_LED";
			gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_HIGH>;	//GPIO1_A0
			default-state = "on";
			retain-state-shutdown;
		};

		POWER_ON {
			label = "POWER_ON";
			gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;	//GPIO1_C4
			default-state = "on";
			retain-state-shutdown;
			pinctrl-names = "default";
			pinctrl-0 = <&POWER_ON_GPIO>;
		};

		SWITCH_PWR_EN {
			label = "SWITCH_PWR_EN";
			gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_LOW>;	//GPIO2_C3
			default-state = "on";
			retain-state-shutdown;
		};

		SWITCH_PWR_RESET {
			label = "SWITCH_PWR_RESET";
			gpios = <&gpio4 RK_PC3 GPIO_ACTIVE_HIGH>;	//GPIO4_C3
			default-state = "off";
			retain-state-shutdown;
		};

		BUZZER_CTL {
			label = "BUZZER";
			gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_HIGH>;	//GPIO1_A3
			default-state = "off";
			retain-state-shutdown;
		};

		USB30_HUB_RST {
			label = "USB30_HUB_RST";
			gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;	//GPIO1_A2
			default-state = "off";
			retain-state-shutdown;
		};
	};

	// gpio-keys {
	// 	compatible = "gpio-keys";
	// 	#address-cells = <1>;
	// 	#size-cells = <0>;
	// 	autorepeat;
	// 	status = "okay";

	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&SWITCH_SYS_DET_BUTTON>;

	// 	button@SWITCH_SYS_DET {
	// 		gpios = <&gpio1 RK_PA5 GPIO_ACTIVE_LOW>;            //power_key       GPIO1_A7
	// 		linux,code = <KEY_POWER>;
	// 		label = "SWITCH_SYS_DET KEY";
	// 		linux,input-type = <1>;
	// 		gpio-key,wakeup = <1>;
	// 		debounce-interval = <100>;
	// 	};
	// };

	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;

		// button@SWITCH_SYS_DET {
		// 	gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_LOW>;            //power_key       GPIO1_A7
		// 	linux,code = <KEY_1>;
		// 	label = "SWITCH_SYS_DET KEY";
		// 	linux,input-type = <0x3f>;
		// 	// gpio-key,wakeup = <1>;
		// 	// debounce-interval = <100>;
		// };


		// button@SFP2_ACT_DET {
		// 	gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_LOW>;            //power_key       GPIO0_B7
		// 	linux,code = <KEY_1>;
		// 	label = "SFP2_ACT_DET KEY";
		// 	linux,input-type = <0x3f>;
		// 	// gpio-key,wakeup = <1>;
		// 	// debounce-interval = <100>;
		// };

		// button@P2_ACT_DET {
		// 	gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_LOW>;            //power_key       GPIO0_C0
		// 	linux,code = <KEY_1>;
		// 	label = "P2_ACT_DET KEY";
		// 	linux,input-type = <0x3f>;
		// 	// gpio-key,wakeup = <1>;
		// 	// debounce-interval = <100>;
		// };


		button@RESET {
			gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_LOW>;            //power_key       GPIO0_C6
			linux,code = <10000>;
			label = "P2_ACT_DET KEY";
			linux,input-type = <EV_KEY>;
			// gpio-key,wakeup = <1>;
			debounce-interval = <100>;
		};

		// 错了！！！
		// button@SFP3_ACT_DET {
		// 	gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_LOW>;            //power_key       GPIO1_A7
		// 	linux,code = <KEY_1>;
		// 	label = "SFP3_ACT_DET KEY";
		// 	linux,input-type = <0x3f>;
		// 	// gpio-key,wakeup = <1>;
		// 	debounce-interval = <100>;
		// };

		// 错了！！！
		// button@P3_ACT {
		// 	gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_LOW>;            //power_key       GPIO1_A7
		// 	linux,code = <KEY_1>;
		// 	label = "SFP2_ACT_DET KEY";
		// 	linux,input-type = <0x3f>;
		// 	// gpio-key,wakeup = <1>;
		// 	debounce-interval = <100>;
		// };
	};

};


&rgb {
	status = "disabled";
};



&i2s1_8ch {
	status = "disabled";
};




&spi0 {
	status = "okay";
	max-freq = <48000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi0m3_cs0 &spi0m3_cs1 &spi0m3_pins>;

	spi_wk2xxx_1: spi_wk2xxx_1@0{
		status = "okay";
		compatible = "wkmic,wk2xxx_spi";
		reg = <0x00>;
		index_base = <1>; // 偏移1，即从ttysWK1开始递增，而非ttysWK0
		num-ports = <4>;  // 4个串口模式
		spi-max-frequency = <10000000>;
		irq-gpio = <&gpio4 RK_PB1 IRQ_TYPE_EDGE_FALLING>;       // WK2124_INT   GPIO4_B1
		firefly,spi0;
	};

	spi_wk2xxx_2: spi_wk2xxx_2@1{
		status = "okay";
		compatible = "wkmic,wk2xxx_spi";
		reg = <0x01>;
		index_base = <5>; // 偏移1，即从ttysWK1开始递增，而非ttysWK0
		num-ports = <4>;  // 4个串口模式
		spi-max-frequency = <10000000>;
		irq-gpio = <&gpio1 RK_PB0 IRQ_TYPE_EDGE_FALLING>;       // WK2124_INT   GPIO1_B0
		firefly,spi0;
	};
};

//debug 115200 232
&fiq_debugger{
    rockchip,baudrate = <115200>;  /* Only 115200 and 1500000 */
};



/* pinctrl */
&pinctrl {
	ds18b20-dp-1 {
		ds18b20_dp_1_pin: ds18b20-dp-1-pin {
			rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;  //GPIO4_B2
		};
	};

	ds18b20-dp-2 {
		ds18b20_dp_2_pin: ds18b20-dp-2-pin {
			rockchip,pins = <4 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;  //GPIO4_B3
		};
	};
    leds {
		POWER_ON_GPIO: POWER-ON-GPIO {
			/* led_power */
			rockchip,pins = <1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		BMC_WORK_LED_B_GPIO: BMC-WORK-LED-B-GPIO {
			/* led_power */
			rockchip,pins = <1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
 	};
	wk2xxx-irq-gpios {
		wk2xxx_1_irq_gpios: wk2xxx-1-irq-gpios{
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>; // GPIO3_D4
		};

		// wk2xxx_2_irq_gpios: wk2xxx-2-irq-gpios{
		// 	rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>; // GPIO3_D5
		// };
	};
};


// CORE10_DEBUG
&uart5 {
        status = "okay";
        pinctrl-0 = <&uart5m0_xfer>;
};

&sdmmc {
status = "disabled";
};

&uart6 {
	status = "disabled";
};


// // CORE9_DEBUG
// &uart2 {
// 	status = "okay";
// };




&pwm5 {
//  pinctrl-0 = <&pwm5m1_pins>;
	status = "disabled";
};



&i2s0_8ch{
	status = "disabled";
};