// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 */

/dts-v1/;
#include "rk1808-firefly-port.dtsi"

/ {
	model = "RK1808-SR-JD4-SUB Board";
	compatible = "rockchip,rk1808-firefly", "rockchip,rk1808";
	
	/delete-node/ wireless-bluetooth;
	/delete-node/ wireless-wlan;
	
	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff540000 console=ttyFIQ0 ro root=PARTLABEL=rootfs rootfstype=ext4 rootwait overlayroot=device:dev=PARTLABEL=userdata,fstype=ext4,mkfs=1 swiotlb=1 kpti=0 snd_aloop.index=7 systemd.gpt_auto=0 cgroup_disable=all";
	};

    fiq-debugger {
        compatible = "rockchip,fiq-debugger";
        rockchip,serial-id = <1>;
        rockchip,wake-irq = <0>;
        /* If enable uart uses irq instead of fiq */
        rockchip,irq-mode-enable = <1>;
        rockchip,baudrate = <1500000>;  /* Only 115200 and 1500000 */
        pinctrl-names = "default";
        pinctrl-0 = <&uart1m1_xfer>;
        interrupts = <GIC_SPI 242 IRQ_TYPE_LEVEL_HIGH>;
        status = "okay";
    };

	leds {
		user {
			default-state = "on";
		};
	};

	vcc3v3_vbus: vcc3v3-vbus {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_vbus"; 
		regulator-always-on;
		regulator-boot-on;
	};

    ion {
        compatible = "rockchip,ion";
        #address-cells = <1>;
        #size-cells = <0>;

        cma-heap {
            reg = <0x00000000 0x02000000>;
        };

        system-heap {
        };
	};

};

/delete-node/ &rk809_sound;

&rk809 {
	/delete-node/ codec;
};

&vcc_4g {
	status = "disabled";
};
&sdio_pwrseq {
	status = "disabled";
};

&vcc_mipi {
	status = "disabled";
};

&dvdd_1v2 {
	status = "disabled";
};

&vcc5v0_usb2_host {
	status = "disabled";
};

&vcc_otg_vbus {
	status = "disabled";
};

&pwm0 {
    status = "disabled";
};

&ov13850 {
	status = "disabled";
};

&mipi_dphy_rx {
	status = "disabled";
};

&rk_rga {
	status =  "okay";
};

&rng {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
};

&tsadc {
	rockchip,hw-tshut-mode = <1>; /* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-polarity = <0>; /* tshut polarity 0:LOW 1:HIGH */
	pinctrl-names = "gpio", "otpout";
	pinctrl-0 = <&tsadc_otp_gpio>;
	pinctrl-1 = <&tsadc_otp_out>;
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&vpu_service {
	status = "okay";
};

&gmac {
	status = "okay";
	tx_delay = <0x36>;
	rx_delay = <0x26>;

};

&i2s0 {
	status = "disabled";
};

&mipi_dphy_rx {
	status = "disabled";
};

&isp_mmu {
	status = "disabled";
};

&sdio {
	status = "disabled";
};

&uart4 {
	status = "disbaled";
};

&spi_wk2xxx {
	status = "disabled";
};

&spi1 {
        status = "okay";
        max-freq = <48000000>;
        dev-port = <0>;
       	dma-names = "tx", "rx";
	pinctrl-0 = <&spi1m1_clk &spi1m1_csn0 &spi1m1_miso &spi1m1_mosi>;
	pinctrl-1 = <&spi1m1_clk_hs &spi1m1_csn0 &spi1m1_miso_hs &spi1m1_mosi_hs>;

	spidev0: spidev@00 {
                 status = "okay";
                 //compatible = "linux,spidev";
                 compatible = "jedec,spi-nor";
                 reg = <0x00>;
                 spi-max-frequency = <48000000>;
         };
};

&rkisp1 {
	status = "disabled";
};

&i2c3 {
	status = "okay";

        sensor@3c {
                 status = "okay";
                 compatible = "firefly,pc9202";
                 sw-gpio = <&gpio3 15 GPIO_ACTIVE_HIGH>;
                 pw-gpio = <&gpio4 10 GPIO_ACTIVE_HIGH>;
                 pinctrl-names = "default";
                 pinctrl-0 = <&wdt_ctl>;
                 pinctrl-1 = <&wdt_pwr_pin>;
                 reg = <0x3c>;
        };

};

&u2phy_otg {
	status = "okay";
	vbus-supply = <&vcc3v3_vbus>;
};

&u2phy_host {
	status = "disabled";
};

&sdmmc {
	status = "disabled";
};

&pinctrl {

       wdt-pin {
                wdt_pwr_pin: wdt-pwr-pin {
                       rockchip,pins = <RK_GPIO4 10 RK_FUNC_GPIO &pcfg_pull_up>;
                };

                wdt_ctl: wdt-ctl {
                       rockchip,pins = <RK_GPIO3 15 RK_FUNC_GPIO &pcfg_pull_up>;
                };

       };

};

